In [2]:
import pandas as pd

In [4]:
import pandas 

from pandas import Series 

from pandas import * 

import pandas as pd

pandas.core.series.Series

In [5]:
data = [10,20,30]

s = Series(data)
print(s)

0    10
1    20
2    30
dtype: int64

In [6]:
import numpy as np

In [7]:
data = np.arange(5)

In [8]:
s=pd.Series(data)
print(s)

0    0
1    1
2    2
3    3
4    4
dtype: int64

In [9]:
data= ["시가","고가"]
s = pd.Series(data)
print(s)

0    시가
1    고가
dtype: object

In [10]:
data = [100,200,300]

s = pd.Series(data)

print(s.index)
print(s.index.to_list())

RangeIndex(start=0, stop=3, step=1)
[0, 1, 2]

In [11]:
#인덱스 수정 

data = [100,200,300]
s = Series(data)

In [12]:
s.index = ['메로나','구구콘','하겐다즈']
print(s)

메로나     100
구구콘     200
하겐다즈    300
dtype: int64

In [15]:
data = [100,200,300]
index = ['메로나','구구콘','하겐다즈']

s=Series(data = data,inext = index)

In [16]:
print(s)

메로나     100
구구콘     200
하겐다즈    300
dtype: int64

In [17]:
price = ["42500","42550","41800","42550","42650"]

date = ["2019-05-31","2019-05-30","2019-05-29","2019-5-28","2019-5-27"]

s=Series(price,date)
print(s)

2019-05-31    42500
2019-05-30    42550
2019-05-29    41800
2019-5-28     42550
2019-5-27     42650
dtype: object

In [18]:
data = [100,200,300]
s= Series(data= data)

print(s.iloc[0])

100

In [19]:
print(s[0])

100

In [20]:
s.loc['비비빅'] = 500

In [21]:
print(s)

0      100
1      200
2      300
비비빅    500
dtype: int64

In [22]:
s.iloc[3]

500

In [24]:
s.drop('비비빅')

0    100
1    200
2    300
dtype: int64

In [25]:
s = Series(['1,234','5,678','9,876'])
print(int(s))

TypeError: cannot convert the series to <class 'int'>

In [28]:
def remove_comma(x):
    return int(x.replace(",","")) 

s = Series(['1,234','5,678','9,876'])

result = s.map(remove_comma)
print(result)

0    1234
1    5678
2    9876
dtype: int64

In [30]:
close = [1,2,3,4,5]
open  = [3,1,2,5,4,]

index = ['2019-05-31','2019-05-30','2019-05-29','2019-05-28','2019-05-27']

s_open = Series(open, index)
s_close = Series(close, index)

cond = s_open < s_close 

print(cond)

2019-05-31    False
2019-05-30     True
2019-05-29     True
2019-05-28    False
2019-05-27     True
dtype: bool

In [32]:
print(s_close[cond])

2019-05-30    2
2019-05-29    3
2019-05-27    5
dtype: int64

In [34]:
print(s_close[s_close > s_open])

2019-05-30    2
2019-05-29    3
2019-05-27    5
dtype: int64